.webdesigntuts-workshop {
	background: #151515;
	height: 100%;
	position: absolute;
	text-align: center;
	width: 100%;
}

.webdesigntuts-workshop:before,
.webdesigntuts-workshop:after {
	content: '';
	display: block;	
	height: 1px;
	left: 50%;
	margin: 0 0 0 -400px;
	position: absolute;
	width: 800px;
}

.webdesigntuts-workshop:before {
	
	background: -webkit-linear-gradient(left, #151515, #444, #151515);
	background: -moz-linear-gradient(left, #151515, #444, #151515);
	background: -o-linear-gradient(left, #151515, #444, #151515);
	background: -ms-linear-gradient(left, #151515, #444, #151515);
	background: linear-gradient(left, #151515, #444, #151515);
	top: 192px;
}

.webdesigntuts-workshop:after {
	background: #000;
	background: -webkit-linear-gradient(left, #151515, #000, #151515);	
	background: -moz-linear-gradient(left, #151515, #000, #151515);	
	background: -o-linear-gradient(left, #151515, #000, #151515);	
	background: -ms-linear-gradient(left, #151515, #000, #151515);	
	background: linear-gradient(left, #151515, #000, #151515);	
	top: 191px;
}

.webdesigntuts-workshop .jihuoma {
	
	
	
	display: inline-block;
	font-size: 0px;
	margin: 150px auto 0;
	padding: 20px;
	position: relative;
	z-index: 1;
}

.webdesigntuts-workshop input {
	

border: solid 1px #ddd;


line-height: 20px;
display: block;
border-radius: 4px;
-webkit-appearance: none;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1) 0s;

	text-align:center;
	
	display: block;
	float: left;
	font-family: 'Cabin', helvetica, arial, sans-serif;
	font-size: 15px;
	
	height: 32px;
	margin: 0;
	margin-right:10px;
	padding: 0 6px;
	text-shadow: 0 -1px 0 #000;
	width: 200px;
}

.ie .webdesigntuts-workshop input {
	line-height: 40px;
}

.webdesigntuts-workshop input::-webkit-input-placeholder {
   color: #888;
}

.webdesigntuts-workshop input:-moz-placeholder {
   color: #888;
}

.webdesigntuts-workshop input:focus {
	
	animation: glow 800ms ease-out infinite alternate;
	background: #FAFAFA;
	
	border-color: #00AAEE;
	
	color: #000;
	outline: none;
}

.webdesigntuts-workshop input:focus::-webkit-input-placeholder { 
	color: #efe;
}

.webdesigntuts-workshop input:focus:-moz-placeholder {
	color: #efe;
}

.webdesigntuts-workshop button {
	border: solid 1px #ddd;
background: transparent;
border-radius: 4px;
font-size: 14px;
padding: 6px 15px;
margin: 0;
display: inline-block;
line-height: 20px;
transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1) 0s;
}	

.webdesigntuts-workshop button:hover,.webdesigntuts-workshop button.hover,
.webdesigntuts-workshop button:focus {
	background: #00AAEE;
	
	color: #fff;
	outline: none;
}

.webdesigntuts-workshop button:active {
	background: #292929;
	background: -webkit-linear-gradient(#393939, #292929);
	background: -moz-linear-gradient(#393939, #292929);
	background: -o-linear-gradient(#393939, #292929);
	background: -ms-linear-gradient(#393939, #292929);
	background: linear-gradient(#393939, #292929);
	box-shadow: 0 1px 0 #000, inset 1px 0 1px #222;
	top: 1px;
}

.webdesigntuts-workshop {
  background: #fff;

  position: absolute;
  text-align: center;
  width: 380px;
}
.webdesigntuts-workshop .jihuoma {
 
 
 
  display: inline-block;
  font-size: 0px;
  margin: 30px 0 0 0;
  padding: 5px;
  position: relative;
  z-index: 1;
}
.webdesigntuts-workshop button {
  color: #fff;background-color: #09c;
}



